In [1]:
from __future__ import print_function

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB

In [2]:
# Read file as csv using semicolon as separator
df = pd.read_csv('C:\Pedro\workspace\Acc-challenge\Stock\Combined_News_DJIA_train.csv', error_bad_lines=False, sep=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 28 columns):
RecordID    1611 non-null int64
Date        1611 non-null object
Target      1611 non-null int64
Top1        1611 non-null object
Top2        1611 non-null object
Top3        1611 non-null object
Top4        1611 non-null object
Top5        1611 non-null object
Top6        1611 non-null object
Top7        1611 non-null object
Top8        1611 non-null object
Top9        1611 non-null object
Top10       1611 non-null object
Top11       1611 non-null object
Top12       1611 non-null object
Top13       1611 non-null object
Top14       1611 non-null object
Top15       1611 non-null object
Top16       1611 non-null object
Top17       1611 non-null object
Top18       1611 non-null object
Top19       1611 non-null object
Top20       1611 non-null object
Top21       1611 non-null object
Top22       1611 non-null object
Top23       1610 non-null object
Top24       1608 non-null object
Top25       1608 non-null object
dtypes: int64(2), object(26)
memory usage: 352.5+ KB

In [3]:
# Fix rows with missing values removing them using the index function
df = df.drop(df[df.Top25.isnull()].index, axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1608 entries, 0 to 1610
Data columns (total 28 columns):
RecordID    1608 non-null int64
Date        1608 non-null object
Target      1608 non-null int64
Top1        1608 non-null object
Top2        1608 non-null object
Top3        1608 non-null object
Top4        1608 non-null object
Top5        1608 non-null object
Top6        1608 non-null object
Top7        1608 non-null object
Top8        1608 non-null object
Top9        1608 non-null object
Top10       1608 non-null object
Top11       1608 non-null object
Top12       1608 non-null object
Top13       1608 non-null object
Top14       1608 non-null object
Top15       1608 non-null object
Top16       1608 non-null object
Top17       1608 non-null object
Top18       1608 non-null object
Top19       1608 non-null object
Top20       1608 non-null object
Top21       1608 non-null object
Top22       1608 non-null object
Top23       1608 non-null object
Top24       1608 non-null object
Top25       1608 non-null object
dtypes: int64(2), object(26)
memory usage: 364.3+ KB

In [4]:
print(df.iloc[0:5, 3:5])

                                                Top1  \
0  b"Georgia 'downs two Russian warplanes' as cou...
1  b'Why wont America and Nato help us? If they w...
2  b'Remember that adorable 9-year-old who sang a...
3  b' U.S. refuses Israel weapons to attack Iran:...
4  b'All the experts admit that we should legalis...

                                                Top2
0            b'BREAKING: Musharraf to be impeached.'
1        b'Bush puts foot down on Georgian conflict'
2                 b"Russia 'ends Georgia operation'"
3  b"When the president ordered to attack Tskhinv...
4  b'War in South Osetia - 89 pictures made by a ...

In [11]:
Y = df.Target
X = df.drop(labels=['RecordID', 'Date', 'Target'], axis=1)

X.info()

clf = BernoulliNB()
#clf.fit(X, Y)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1608 entries, 0 to 1610
Data columns (total 25 columns):
Top1     1608 non-null object
Top2     1608 non-null object
Top3     1608 non-null object
Top4     1608 non-null object
Top5     1608 non-null object
Top6     1608 non-null object
Top7     1608 non-null object
Top8     1608 non-null object
Top9     1608 non-null object
Top10    1608 non-null object
Top11    1608 non-null object
Top12    1608 non-null object
Top13    1608 non-null object
Top14    1608 non-null object
Top15    1608 non-null object
Top16    1608 non-null object
Top17    1608 non-null object
Top18    1608 non-null object
Top19    1608 non-null object
Top20    1608 non-null object
Top21    1608 non-null object
Top22    1608 non-null object
Top23    1608 non-null object
Top24    1608 non-null object
Top25    1608 non-null object
dtypes: object(25)
memory usage: 326.6+ KB